
body {
    background-color: #f35acf;
    width: 100%;
    height: 100dvh;
}

h1 {
    color: #ffffff;
}

.rectangle__script, .square__script {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
   
}

.rectangle__script, .square__script {
    position: relative;
    display: flex;
    flex-direction: column;
}





